<div class="form-container">
  <h2 class="mbs">New Transaction</h2>
  <%= form_tag students_path do%>
    <%= render '_payment_info' unless current_user.has_payment_info? %>
    <p>Please enter your payment details:</p>
    <div id="dropin"></div>
    <%=submit_tag "Add payment details", class: "button mt1" %>
  <%end%>
</div>