<%# if conversation.is_unread?(current_user) %>
	<%#= link_to 'mark as read', mark_as_read_conversation_path(conversation), method: :post %>
<%# end %>

<li>
	<% if conversation.is_unread?(current_user) %>
		<p><%= link_to participant_name(conversation), conversation_path(conversation) %> - new</p> 
	<% else %>
		<p><%= link_to participant_name(conversation), conversation_path(conversation) %></p>
	<% end %>
</li>