<div class="block clearfix">
  <%#= link_to(conversation_path(conversation), class: "clearfix") do %>
  <%= link_to(conversations_path(current: conversation.id), class: "clearfix") do %>
    <% if is_tutor %>
      <div class="img"><img src="../../assets/default/search_default.png" alt=""></div>
    <% else %>
     <div class="img"><%= image_tag(get_partner(conversation).picture_url(:search)) %></div>
    <% end %>
    <div class="desc">
      <h4><%= participant_name(conversation) %></h4>
      <% if conversation.is_unread?(current_user) %>
        <p>NEW</p>
      <% else %>
        <p></p>
      <% end %>
    </div>
  <% end %>
</div>