<% if false %>
<h1>Conversations</h1>
<ul>
  <%= render partial: 'conversations/conversation', collection: @conversations %>
</ul>
<%= will_paginate %>
<% end %>

<div class="inbox_main clearfix">
  <div class="row">
    
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="inbox_left">
        <div class="help_message">
        </div>
<!--         <div class="clearfix">
          <h2>INBOX</h2>
          <input type="text" class="txtbox_2" placeholder="SEARCH">
        </div> -->
        <%= render partial: 'conversations/conversation', collection: @conversations %>
      </div>
    </div>
    <div id="chat-div">
      <%= render partial: 'conversations/chat', locals: {current: @current} %>
    </div>
  </div>
</div>