<!-- refactor this into controller -->
<% students = Set.new %>

<h1>Dashboard</h1>

<div class="row">
	<div class="four columns">
		<h4>My conversations</h4>
	</div>
	<div class="four columns">
		<h4>My Lessons</h4>
		<% @lessons.each do |lesson| %>
			<%= link_to "#{lesson.student.firstname.titleize}-#{lesson.subject}", lesson %> 
			<%= local_time(lesson.date, '%d/%m/%Y %H:%M') %> <br>
			<% students.add(lesson.student) %>
		<% end %>
	</div>
	<div class="four columns">
		<h4>My Students</h4>
		<% students.each do |student| %>
			<%= student.display_name %>
		<% end %>
	</div>
</div>
