<% if not @tutor.verified %>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  	<h4>
  		You need to fill in the required fields and add a valid WWC card / bank account in order to be indexed for students to find.
  	</h4>
  </div>
</div>
<% end %>

<%= render 'form' %>

<%#= link_to 'Show', @tutor%>
<%#= link_to 'Back', tutors_path %>