<h1>Find a tutor</h1>

<table>
	<thead>
		<tr>
			<td>Name</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
	<% @tutors.each do |tutor| %>
		<tr>
			<td>
				<%= tutor.display_name %>
			</td>
			<td>
				<%= link_to "show", tutor %>
			</td>
		</tr>
	<% end %>
</table>