<div class="search_main"> 
	<!-- <h2>Search Result: Mt Lawley, Music</h2>  	 -->
    <div class="row">
      <%= render partial: 'searches/advanced_search', locals: {search: Search.new} %>
      <%= render partial: 'searches/results', locals: {tutors: @tutors, found: @found} %>
  </div>
</div>