<!-- _student_sign_up.html.erb -->

<div class="signup_popup" id="signup_popup_1">
  <div class="signup_popup_inn">
      <h1>STUDENT / PARENT SIGN UP</h1>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
            <input type="text" class="txtbox" placeholder="First name">
          </div>
          <div class="col-sm-6 col-xs-12">
            <input type="text" class="txtbox" placeholder="Surname">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
            <input type="text" class="txtbox" placeholder="Email">
          </div>
          <div class="col-sm-6 col-xs-12">
            <input type="text" class="txtbox" placeholder="Students DOB">
          </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
            <input type="text" class="txtbox" placeholder="Password">
          </div>
          <div class="col-sm-6 col-xs-12">    
            <input type="text" class="txtbox" placeholder="Confirm Password">
          </div>
      </div>
      <h2>or sign up using</h2>
      <div class="clearfix">
        <div class="social">
              <a href="#"><img src="../../assets/layout/facebook.png" alt=""></a>
              <a href="#"><img src="../../assets/layout/google_plus.png" alt=""></a>
          </div>
          <input type="submit" class="signup_btn" value="SIGN UP">
      </div>
  </div>
  <div class="curve_1"><img src="../../assets/layout/popup_curve_1.png" alt=""></div>
</div>