<div class="signup_popup" id="signup_popup_3">
  <div class="signup_popup_inn">
      <h1>TUTOR SIGN UP</h1>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
            <input type="text" class="txtbox" placeholder="Suburb">
          </div>
          <div class="col-sm-6 col-xs-12">
            <input type="text" class="txtbox" placeholder="Working with children number">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
            <input type="text" class="txtbox datepicker" placeholder="Working with children expiry date">
              <div class="infotxt">*Tutorial Academy charges 10% commision</div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <select class="selbox"><option>What subjects do you tutor?</option><option>option 2</option><option>option 3</option><option>option 4</option></select>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
            <select class="selbox"><option>Where do you want to tutor?</option><option>option 2</option><option>option 3</option><option>option 4</option></select>
          </div>
          <div class="col-sm-6 col-xs-12">
            <select class="selbox"><option>When do you want to tutor?</option><option>option 2</option><option>option 3</option><option>option 4</option></select>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
            <input type="text" class="txtbox" placeholder="Hourly rate">
          </div>
      </div>
      <textarea cols="" rows="" placeholder="Tell us about yourself..."></textarea>
      <textarea cols="" rows="" placeholder="Experience and qualifications..."></textarea>
      <div class="btns">
        <input type="submit" class="signup_btn" value="SIGN UP">
          <a href="#" class="skip_btn">SKIP >></a>
    </div>
  </div>
  <div class="curve_1"><img src="../../assets/layout/popup_curve_1.png" alt=""></div>
</div>