<!-- _tutor_sign_up.html.erb -->

<div class="signup_popup" id="signup_popup_2">
  <div class="signup_popup_inn">
      <h1>TUTOR SIGN UP</h1>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
            <input type="text" class="txtbox" placeholder="First name">
          </div>
          <div class="col-sm-6 col-xs-12">
            <input type="text" class="txtbox" placeholder="Surname">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
            <input type="text" class="txtbox" placeholder="Email">
          </div>
          <div class="col-sm-6 col-xs-12">
            <input type="text" class="txtbox" placeholder="Students DOB">
          </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
            <input type="text" class="txtbox" placeholder="Password">
          </div>
          <div class="col-sm-6 col-xs-12">    
            <input type="text" class="txtbox" placeholder="Confirm Password">
          </div>
      </div>
      <h2>or sign up using</h2>
      <div class="clearfix">
        <div class="social">
              <a href="#"><img src="../../assets/layout/facebook.png" alt=""></a>
              <a href="#"><img src="../../assets/layout/google_plus.png" alt=""></a>
          </div>
          <a href="#signup_popup_3" class="fancybox signup_btn">SIGN UP</a>
      </div>
  </div>
  <div class="curve_1"><img src="../../assets/layout/popup_curve_1.png" alt=""></div>
</div>