<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <p>
    This email was auto generated from a rake task.
    A Payments csv file should be attached.
  </p>

  <%= email_image_tag("logo.png") %>
</body>
</html>