<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <p>
    Yo Chris this lesson was cancelled.
    Refund that shit.
    lesson ID = @lesson.id
    lesson student id = @lesson.student.id
    lesson student name = @lesson.student.display_name
    lesson student email = @lesson.student.email
  </p>

  <%= email_image_tag("logo.png") %>
</body>
</html>