<div class="privacy_policy clearfix">
  <div class="clearfix">
      <div id="about-page-title" class="title">
        <h1>About Tutorial Academy</h1>
      </div>
  </div>

<div class="row">
  <div id="about-page" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2><b>How it works</b></h2>

    <p class="about-page-paragraph">Tutorial Academy was created to allow tutors to give high quality tuition. We make it easy for parents and students to find high quality tutors.</p>

    
    <p class="about-page-paragraph">We’ve made it easy to search for a tutor, there’s no middle man between you and the tutor. With Tutorial Academy you can contact tutors directly to find one that suits your needs!</p>
    

    <p class="about-page-paragraph">Once you’ve found some tutor profiles that you like, sign up and directly message them through the platform to discuss your needs.</p>

    <p class="about-page-paragraph">The Tutorial Academy platform has a scheduling feature that allows students and tutors to schedule lessons. Once each party has accepted, the lesson is confirmed on the platform and a reminder email is sent to both the tutor and student the day before the lesson!</p>

    <p class="about-page-paragraph">We’re currently busy working on building a payment system that allows parents and students to pay the tutor for the lesson with the touch of a button once a lesson is scheduled. We’re aiming to take the hassle out of finding, contacting, scheduling and paying for private tuition.</p>

  </div>
</div>