<div class="privacy_policy clearfix">
  <div class="clearfix">
      <div id="about-page-title" class="title">
        <h1>About Tutorial Academy</h1>
      </div>
  </div>
</div>

<div class="row">
  <div id="about-page" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2><b>Contact</b></h2>

    <p class="about-page-paragraph">If you just want to have a chat or meet us! </p>

    <p class="about-page-paragraph">Tutorial Academy is based in Perth, Western Australia. We currently reside at the Bloom Lab, St Catherine's College adjacent to UWA. Feel free to drop past and see us if you’re around!</p>

    <p class="about-page-paragraph">BLOQ Holdings trading as Tutorial Academy. ABN: 48610413977</p>
  </div>
</div>