<div class="privacy_policy clearfix">
  <div class="clearfix">
      <div id="about-page-title" class="title">
        <h1>Dispute Resolution</h1>
      </div>
  </div>
</div>

<div class="row">
  <div id="about-page" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2><b>Dispute Resolution</b></h2>

    <p class="about-page-paragraph">We’re sorry to hear that you might need to get in touch to discuss a problem you may have had with a tutor or our services. We would like to make the conflict resolution process as easy as possible for you.</p>

    <p class="about-page-paragraph">We ask you to start by sending an email to chris@tutorial.academy so that we’re aware of what has happened. In order to go about sorting your concern in the most efficient way we will need to know the following
      <ul>
        <li>Is your concern related to a specific tutor or the Tutorial Academy Platform?</li>
        <li>What was the date of the incident in question?</li>
        <li>Can you outline the situation that has prompted you to get in touch?</li>
        <li>If your concern is with an individual tutor, have you raised your concern with them directly?</li>
        <li>If so what was the outcome of raising the concern with the tutor directly?</li>
      </ul>
    </p>

    <p class="about-page-paragraph">Once we know these details we will be able to work with you to reach a solution.</p>

    <h2><b>Refund Policy</b></h2>

    <p class="about-page-paragraph">We are only able to provide a refund on a lesson if the following criteria are met:
      <ul>
        <li>We can only offer a refund if you get in touch via email or the tutor report button within 7 days of the lesson taking place.</li>
        <li>We can not offer a refund if you simply change your mind.</li>
        <li>There must be proof of either negligence, misconduct or fault on the tutors behalf.</li>
        <li>We can only offer a refund on one lesson from the tutor. It is the parent and students job to assess tutor suitability on a lesson by lesson basis.</li>
      </ul>
    </p>

    <p class="about-page-paragraph">If you would like to request a refund please email chris@tutorial.academy</p>
  </div>
</div>