<div class="privacy_policy clearfix">
  <div class="clearfix">
      <div id="about-page-title" class="title">
        <h1>Tutorial Academy</h1>
      </div>
  </div>
</div>

<div class="row">
  <div id="about-page" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2><b>How it works</b></h2>

    <p class="about-page-paragraph">Tutorial Academy makes it easy to find a high quality Academic Tutor.</p>

    <p class="about-page-paragraph">It’s as simple as using the search feature to find a tutor in your area that tutors the subject that you need help with.</p>

    <p class="about-page-paragraph">Once you’ve found some tutor profiles that you like you can sign up and directly message them through the platform to discuss your needs using our messaging feature.</p>

    <p class="about-page-paragraph">The Tutorial Academy platform has a scheduling feature that allows students and tutors to schedule lessons. Once you book a lesson with a tutor you will be prompted to pay with either a credit or debit card. All of our payments are processed securely by Braintree, a PayPal company. No credit card details are kept in our database.</p> 

    <p class="about-page-paragraph">The lesson price is determined by the duration of the lesson and the cost of the lesson. All prices are clearly shown prior to booking the lesson and all costs are in Australian dollars. The lesson will take place on whatever date and time is scheduled through the platform.</p>

    <p class="about-page-paragraph">Once a lesson is confirmed by both the tutor and you, the debit/credit card that you have selected will be billed for the cost of the lesson.</p>

    <p class="about-page-paragraph">If the lesson is cancelled prior to it taking place, a full refund will be returned. If there is a dispute, please have a look at our dispute resolution section of the website.</p>

    <p class="about-page-paragraph">You can contact us on chris@tutorial.academy or 9259 5529</p>

  </div>
</div>