<!-- _results.html.erb -->
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
  <div class="ser_rightbar">
    <div class="row">
    <% tutors.each do |tutor| %>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="profilebox_2">
          <div class="clearfix">
            <div class="img"><%= link_to(image_tag(tutor.picture_url(:search)), tutor) %></div> 
            <div class="details">
              <h3><%= tutor.display_name %></h3>
              <p><img src="../../assets/layout/map_marker_1.png" alt="">Mt Lawley, WA</p>
              <a href="#" class="cont_btn">CONTACT</a>
                <div class="tags">
                <a href="">#<%= tutor.hash_tag_list.first %></a>
            </div>
            </div>
          </div>
          <p><%= tutor.about %><p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>