/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 * require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 *= require jquery-ui
 */

// @import "chosen";
// @import "normalize";
// @import "skeleton";
@import "bootstrap-theme";
@import "bootstrap";
@import "jquery.fancybox";
@import "jquery.selectbox";
@import "red";
@import "responsive";

body {
 font-family: 'Open Sans', sans-serif;
}

.viewlink{
  color:white;
}

.center-text{
  text-align: center;
}

.login_btn { 
  width:188px;
  height:65px;
  border-radius:3px;
  border:none; 
  cursor:pointer; 
  text-align:center; 
  background:#4da3c3; 
  font-size:24px; 
  line-height:65px; 
  color:#fff; 
  font-weight:700; 
  text-transform:uppercase; 

  &:hover{
    background:#999999; 
    color: #ededed;
  }
}

.pag-main{
  a{
    font-size: 18px;
    font-weight: bold;
    color:#4da3c3;
    margin-left: 25px;
    margin-right: 25px;

    &:hover{
      cursor: pointer;
      text-decoration: none;
      color: black;
    }
  }

  span{
    font-size: 18px;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
  }
}

.lesson_edit{
  font-size: 18px;
  font-weight: bold;
  color:#4da3c3;

  &:hover{
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
}

.lesson_cancel{
  font-size: 18px;
  font-weight: bold;
  background: red;
  color: black;

  &:hover{
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: 1px solid black;
  }
}

.lesson_approve{
  font-size: 18px;
  font-weight: bold;
  color:green;

  &:hover{
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
}

.profile_box2{
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
  max-height: 250px;
}

.filter_box{
  .checkbox{
    padding-bottom: 0px;
    padding-top:0px;
    margin-bottom:0px;
    margin-top:0px;
  }
  .chkbox_label{
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
  }
}

.lesson_form_title{
  margin-left: 30px;
  margin-bottom:0px;
}

.lesson_number{
  margin-top:20px;
}

.select_list{ display:inline-block; vertical-align:top; width:446px; height:65px; border-radius:3px; background:#fff; border:none; font-size:24px; color:#777777; font-weight:normal; margin:0 13px; padding:0 30px; }
.lesson_btn { width:188px; height:65px; display:block; margin:20px auto 0; padding:0; border:none; cursor:pointer; background:#4da3c3; font-size:24px; text-align:center; line-height:65px; color:#fff; font-weight:700; text-transform:uppercase; border-radius:3px; } 
.lesson_btn:hover{ background:#ededed; color: #999999; }

.datetime select:nth-child(1){
  width:100px; float:left; margin:0; padding:0 6px 0 0; float:left;
}

.datetime select:nth-child(2){
  width:245px; float:left; margin:0; padding:0 6px 0 0; float:left;
}

.datetime select:nth-child(3){
  width:147px; float:left; margin:0; padding:0 0 0 0; float:left;
}

.dateselect{
  background:#fff; border:none; height:57px; margin:0 0 35px 0; border:1px solid #bbbbbb;
}

.settings_filter { margin:0; padding:50px 0 0; }
.settings_filter > ul { margin:0; padding:0; display:block; }
.settings_filter > ul > li { margin:0; padding:0; display:block; }
.settings_filter > ul > li > a { margin:0; padding:0 20px 0 28px; display:block; font-size:18px; line-height:50px; color:#fff; text-transform:uppercase; font-weight:700; border-bottom:1px solid #fff; background:#bbbbbb; }
.settings_filter > ul > li > a .val_txt { min-width:25px; vertical-align:top; text-align:center; font-size:14px; line-height:50px; color:#fff; float:right; }
.settings_filter > ul > li.active > a { border-bottom-color:transparent; background:#999999; }
.settings_filter > ul > li.music.active > a { background:#4da3c3; }
.settings_filter > ul > li > ul { margin:0; padding:15px 0 10px 0; display:none; background:#ededed; }
.settings_filter > ul > li > ul > li { margin:0; padding:0 0 10px 28px; display:block; font-size:14px; line-height:14px; color:#000000; }
.settings_filter > ul > li.active > ul { display:block; }
.settings_filter .icheckbox_square { width:15px; height:14px; background:url(../../assets/layout/chkbox_2.png) no-repeat 0px 0px; }
.settings_filter .icheckbox_square.checked { background-position:-15px 0; }
.settings_filter .sel_box { max-width:213px; }
.settings_filter .sbHolder  { height:39px; background:#bbbbbb; }
.settings_filter .sbSelector { font-size:14px; line-height:39px; color:#fff; height:39px; text-indent:18px; }
.settings_filter .sbToggle { background: url(../../assets/layout/down_arr_2.png) no-repeat center center; width:15px; height:39px; }
.settings_filter .sbOptions { background-color:#bbbbbb; }
.settings_filter .sbOptions a { color:#fff; }

.settings_filter > ul > li > ul > li { padding-left:20px; }
.settings_filter > ul > li > a { padding:0 20px; }

.settings_filter{
  padding-top:0px;
  padding-bottom:10px;
  .checkbox{
    padding-bottom: 0px;
    padding-top:0px;
    margin-bottom:0px;
    margin-top:0px;
  }
  .chkbox_label{
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
  }
}

.search-about{
  max-height: 160px;
  overflow: hidden; 
  // Only works for single line :(
  // text-overflow: ellipsis;
  // white-space: nowrap;
}

.msz_box{
  min-height: 215px;
}



#about-page-title {
  text-align:center;
}

#about-page {
  display:block;
  padding-left:10%;
  padding-right:10%;
}

.about-page-paragraph {
  font-size:18px;
  line-height:170%;
  text-align:left;
  
}


#content > .container {
  display:block;
  padding-left:7%;
  padding-right:7%;
}

#footer > .container {
  display:block;
  padding-left:7%;
  padding-right:7%;
}

.signin_popup h2 {
  padding-left:0px;
}

.signup_btn:hover {
  text-decoration:none;
}

.sign_up_btn:hover{
  text-decoration:none;
}

#header .container .header .login_signup .fancybox:hover {
  text-decoration:none;
}

/*Select subject dropdown indent*/
.home #header .search_c .sub_txtbox {
  text-indent:10%;
}

#search_totur .sub_txtbox {
  text-indent:10%;
}


/*Hidden age overflow*/

#content .search_main .ser_leftbar .filter_box > ul > li.active > ul {
  overflow:visible !important;
}