/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 * require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 *= require jquery-ui
 */

// @import "chosen";
// @import "normalize";
// @import "skeleton";
@import "bootstrap-theme";
@import "bootstrap";
@import "jquery.fancybox";
@import "jquery.selectbox";
@import "red";
@import "responsive";

body {
 font-family: 'Open Sans', sans-serif;
}

.viewlink{
  color:white;
}

.center-text{
  text-align: center;
}

.login_btn { 
  width:188px;
  height:65px;
  border-radius:3px;
  border:none; 
  cursor:pointer; 
  text-align:center; 
  background:#4da3c3; 
  font-size:24px; 
  line-height:65px; 
  color:#fff; 
  font-weight:700; 
  text-transform:uppercase; 

  &:hover{
    background:#999999; 
    color: #ededed;
  }
}

.pag-main{
  a{
    font-size: 18px;
    font-weight: bold;
    color:#4da3c3;

    &:first-child{
      margin-right: 50px;
    }
    &:hover{
      cursor: pointer;
      text-decoration: none;
      color: black;
    }
  }
}