.simple-calendar{
	width: 100%;

	table{
		width: 100%;

		thead{
			tr{
				border: 1px solid black;
				outline-bottom: 1px solid black;
			}
		}

		tbody{
			tr{
				min-height: 100px;
				height: 100px;
			}
		}

		td{
			width: 14.28%;
			border: 1px solid black;
		}
	}

	th:first-child, td:first-child{
		padding-left: 12px;
	}

	.prev-month, .next-month{
		background-color: #8B9393;
	}
}