/* checkbox and radio button
----------------------------------- */
.icheckbox_square,
.iradio_square {
    display: inline-block;
	vertical-align:top;
    margin: 0 7px 0 0;
    padding: 0;
    width: 19px;
    height: 17px;
    background: url(../../assets/layout/chkbox.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square.checked {
  background-position: -19px 0;
}
    

.iradio_square {
    background: url(../../assets/layout/red_btn.png) no-repeat;
}
.iradio_square.checked {
	background-position: -19px 0;
}
